doctype html
html(lang="en")

  head
    title Welcome to MEAN
    
    link(href='/static/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')

  body 
    div.container
      block content
      
      
