extends ../base.jade

block content

  h1 Login 
  
  form(method='post')
    .form-group
      input.form-control(type='text', name='username', placeholder='Enter your user name')
    .form-group
      input.form-control(type='password', name='password', placeholder='Password')
    button.btn.btn-default(type='submit') Submit
    
    
    
